<div id="<%= dom_id dio_blog %>">
  <p>
    <strong>Title:</strong>
    <%= dio_blog.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= dio_blog.author %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= dio_blog.note %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dio_blog.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= dio_blog.text %>
  </p>

</div>
